* {
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background-image: url('images/bg.jpg');
    background-blend-mode: lighten;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-image: linear-gradient(to bottom, white, orange);
    border-radius: 15px;
    color: blue;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 5%; 
}

header > p {
    text-align: center;
    width: 100%;
    font-size: 30px;
    text-shadow: 1px 1px white;
}

.quiz-info-box {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
    text-align: center;
}

.quiz-info-box > img {
    position: sticky;
    width: 40%; 
    padding: 10px;
    float: left;
    margin-bottom: 10%;
}

.quizStats {
    padding: 10px;
    position: sticky;
    list-style: none;
    color: blue;
    font-size: 20px;
    margin-bottom: 20%; 
}

main {
    width: 100%;
}

.js-quizStart {
    background-image: linear-gradient(to top, white, orange);
    border-radius: 15px;
    width: 70%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 16px;
    text-shadow: 1px 1px blue;
}

.startButton {
    display: block;
    padding: 20px;
    border: black;
    border-radius: 200px 200px 200px 200px;
    background-color: black;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.startButton:hover, button:focus {
    background-color: white;
    color: black;
}

.js-quiz-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.question {
    background-image: linear-gradient(to bottom, white, blue); 
    border-radius: 15px;
    padding: 20px;
    width: 70%;
    height: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px orange;
}

.answers {
    width: 90%;
    display: block;
    margin: 5%;
    font-size: 20px;
    float: left;
}

.multipleChoiceA {
    background-image: linear-gradient(to bottom, white, blue); 
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    float: left;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

.multipleChoiceB {
    background-image: linear-gradient(to bottom, white, blue); 
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    float: left;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

.multipleChoiceC {
    background-image: linear-gradient(to bottom, white, blue); 
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    float: left;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

.multipleChoiceD {
    background-image: linear-gradient(to bottom, white, blue); 
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    float: left;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

.rButton{
    vertical-align: middle;
}

.answerOption {
    vertical-align: middle;
}

.submitButton {
    background-color: orange;
    border-radius: 15px;
    box-shadow: 1px 1px black;
    height: 50px;
    width: 50%;
    font-size: 15px;
    cursor: pointer;
    float: right;
    color: white
}

.submitButton:hover {
    background-color:white;
    color:orange;
    cursor: pointer;
}

.correctAnswerFeedback {
    border-radius: 15px;
    background-image: linear-gradient(orange, white);
    width: 72%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.correctAnswerFeedback img{
    width: 50%;
}

.answerFeedback > p {
    line-height: 2em;
}

.nextButton {
    background-color: orange;
    border-radius: 15px;
    box-shadow: 1px 1px black;
    height: 50px;
    width: 140px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.nextButton:hover {
    background-color:white;
    color:orange;
    cursor: pointer;
}

.finalResults {
    background-image: linear-gradient(to top, white, orange);
    border-radius: 15px;
    width: 72%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px blue;
}

.restartButton {
    background-color: orange;
    border-radius: 15px;
    box-shadow: 1px 1px black;
    height: 50px;
    width: 140px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.restartButton:hover {
    background-color:white;
    color:orange;
    cursor: pointer;
}


@media only screen and (min-width: 600px){

.quiz-info-box > img {
    width: 150px;
    margin-top: 8%;
    margin-left: 5%; 
}

.quizStats {
    padding: 10px;
    position: sticky;
    list-style: none;
    color: blue;
    font-size: 20px;
    margin-top: 18%;
    margin-right: 8% 
}

}


